body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a1128;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.stopwatch {
    text-align: center;
    background-color: #3c4858;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#time {
    font-size: 72px;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #ff3b3f;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #ff5c5e;
}

#laps {
    margin-top: 20px;
    font-size: 16px;
    text-align:center;
}
